@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;

<div class="text-center">
    @{
        if(signInManager.IsSignedIn(User))
        {
            
            <h1 class="display-4">Que bom que está aqui @User.Identity.Name! Você está agora autenticado.</h1>
        }
        else{
            <h1 class="display-4">Bem vindo, por favor autentique-se </h1>
        }
    }
    
</div>
